# Basic requirements
pandas
numpy
joblib
os

# API requirements
requests
fastapi
json
python-multipart
uvicorn
zipfile

# NLP packages
nltk
gensim
contractions 
demoji
nlpaug

# Visualization Tools
pandas-profiling

# Unit-Testing
pytest

# Config
pyyaml
typing
