# Basic requirements
pandas
numpy
joblib

# API requirements
requests
fastapi
python-multipart
uvicorn

# NLP packages
nltk
gensim
contractions 
demoji
nlpaug

# Modelling
xgboost
flair

# Visualization Tools
pandas-profiling

# Unit-Testing
pytest

# Config
pyyaml
typing